* {
  margin: 0;
  padding: 0;
}

table {
  display: flex;

  justify-content: flex-start;
  align-items: flex-start;
}

#users {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin-bottom: 50px;
}

#users td,
#users th {
  border: 1px solid #ddd;
  padding: 8px;
}

#users tr:nth-child(even) {
  background-color: #f2f2f2;
}

#users tr:hover {
  background-color: #ddd;
}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0f20277c;
  color: white;
}

img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.actions-button {
  margin-left: 20px;
}

.button {
  display: inline-block;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  color: white;
  padding: 14px 0;
  cursor: pointer;
  width: 40%;
  border-radius: 3px;
  transition: 0.4s;
  margin-left: 10px;
  margin-bottom: 20px;
}

.button:hover {
  width: 50%;
  transition: 0.4s;
  opacity: 0.8;
}
