@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

form {
  margin-top: 40px;
  border-radius: 3px;
  transition: 0.4s;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 16px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: 0.2s;
  border-radius: 5px;
  margin-bottom: 10px;
}

label {
  margin-top: 8px;
}

input:focus {
  outline: none;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.icon {
  font-size: 110px;
  display: flex;
  justify-content: center;
  color: #4286f4;
  margin-top: 25px;
}

button {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  color: white;
  padding: 14px 0;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 40%;
  border-radius: 3px;
  transition: 0.4s;
  margin-left: 10px;
}

button:hover {
  width: 50%;
  transition: 0.4s;
  opacity: 0.8;
}

h1 {
  text-align: center;
  font-size: 18;
  margin-top: 5px;
  transition: 0.4s;
}

.form-container {
  text-align: center;
  margin: 15px;
  padding: 20px;
  width: 30%;
  transition: 0.4s;
  margin-top: 1px;
  margin-bottom: 15px;
  margin-left: 35.3%;
}

.container {
  padding: 5px;
  text-align: left;
  transition: 0.4s;
}

.input-icon {
  position: absolute;
  left: 8px;
  color: #0f2027;
  top: calc(50% - 0.5em);
}

#signUpName,
#signUpCPF,
#signUpEmail,
#signUpPassword,
#signUpConfirmPassword {
  padding-left: 35px;
}

.custom-wrapper {
  position: relative;
}
